@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Style scrollbar round */

@layer utilities {
  .scrollbar-round::-webkit-scrollbar {
    width: 7px;
  }
  .scrollbar-round::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 20px;
  }
  .scrollbar-round::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: transparent;
    transition: 3s;
  }
  .scrollbar-round::-webkit-scrollbar-thumb:hover {
    background-color: #898989;
  }
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.ttf");
}

:root {
  overflow: hidden;
  scrollbar-width: none;
  box-sizing: border-box;
  /* margin: 0; */
}

* {
  box-sizing: border-box;
  font-family: Lato;
  font-weight: lighter;
  font-size: 1.1 rem;
}

/* Global Scrollbar */

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: transparent;
  transition: 3s;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #898989;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

* {
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    transition: all 1s ease;
    transition-duration: 2s;
    /* -webkit-transition: 10s; */
  }
}

*:hover {
  &::-webkit-scrollbar-thumb {
    background-color: #898989;
    transition: all 1s ease;
    -webkit-transition: 10s;
  }
}

/* Hide scrollbar on mobile */
@media only screen and (max-width: 648px) {
  ::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    display: none;
  }

  * {
    font-size: medium;
  }
}

/* Typography */

/* List style */

ul {
  list-style-position: outside;
  list-style-type: disc;
  list-style-image: url(assets/);
}

b {
  color: #3d3d3d;
  font-weight: bold;
}
